<%- include("partials/header") %>

<div class= "container">
	<div class="jumbotron">
		<blockquote class="blockquote text-center">
		<h1 class="mb-0" class="display-4 " id="ts">Image Gallary</h1>
		<footer class="blockquote-footer text-right">Made by <cite title="vikalp khandelwal">vikalp khandelwal</cite></footer>
	</blockquote>
	<hr class="my-4">
	<p class="lead d-none d-md-block">
		This is the image downloading Website.You can download a lot of images from here
	</p>
	</div>
</div>

<%- include("partials/footer") %>