<%- include("partials/header") %>

<div class="container">
	<div class="jumbotron text-center jumbo"><h1>Animal Images</h1></div>
	<a href="/dog" class="btn btn-default">Dog</a>
	<a href="/cat" class="btn btn-default">Cat</a>
	<a href="/wolf" class="btn btn-default">Wolf</a>
	<a href="/cow" class="btn btn-default">cow</a>
	<a href="/horse" class="btn btn-default">Horse</a>
	<a href="/mammal" class="btn btn-default">Mammal</a>
	<a href="/kangaroo" class="btn btn-default">Kangaroo</a>
	<a href="/beer" class="btn btn-default">Bear</a>
	<a href="/deer" class="btn btn-default">Deer</a>
	<a href="/elephant"class="btn btn-default">Elephant</a>	
	<a href="/monkey"class="btn btn-default">Monkey</a>
	<a href="/rabbit"class="btn btn-default">Rabbit</a>
	<a href="/goat"class="btn btn-default">Goat</a>

	<div class="container" id="martop">
		<div class="row">
			<div class="col-lg-4 mb-4">
	    		<div class="thumbnail">
	      			<img src="https://images.unsplash.com/photo-1567360703859-0d07c7a12591?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 	<div class="caption">
	        			<h3 class="text-center txt"><strong>Cow</strong></h3>
	        			<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      			</div>
 		 		</div>
	  		</div>
		
		<!-- <a href="https://images.unsplash.com/photo-1567360703859-0d07c7a12591?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" download>
  			<img src="https://images.unsplash.com/photo-1567360703859-0d07c7a12591?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" >
		</a> -->
		 
			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1567879656049-f2265f23d8f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Cow</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>
		
			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1502673530728-f79b4cab31b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					<div class="caption">
						<h3 class="text-center txt"><strong>Dog</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			 </div>
		</div>

		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1553284965-5dd8352ff1bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Horse</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1552810060-f55a22a4b67d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Mammal</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1578427416100-1c0934bf08f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					<div class="caption">
						<h3 class="text-center txt"><strong>Kangaroo</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			 </div>
		</div>

		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1575479737118-51bc2cff060f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Cat</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1561037404-61cd46aa615b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Dog</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1585871582999-b195fd4527da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					<div class="caption">
						<h3 class="text-center txt"><strong>Bear</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			 </div>
		</div>

		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1548236386-4c6d06156b9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Deer</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1551098930-dbd128bd7489?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Elephant</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					<div class="caption">
						<h3 class="text-center txt"><strong>Dog</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			 </div>
		</div>

		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1540573133985-87b6da6d54a9?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Monkey</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1564650211163-21049f1b683a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Rabbit</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1572291596135-0d5524b41d9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Bear</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1518796745738-41048802f99a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					<div class="caption">
						<h3 class="text-center txt"><strong>Rabbit</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			 </div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1531844433520-e9ad31be6ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Goat</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1517486430290-35657bdcef51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					<div class="caption">
						<h3 class="text-center txt"><strong>Elephant</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			 </div>
		</div>

		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1533743983669-94fa5c4338ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Cat</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1531989417401-0f85f7e673f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Monkey</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1521651201144-634f700b36ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					<div class="caption">
						<h3 class="text-center txt"><strong>Elephant</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			 </div>
		</div>

		<div class="row">	
			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1468190919318-dda40b332156?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Rabbit</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1544945832-f1250e1d77b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					<div class="caption">
						<h3 class="text-center txt"><strong>Monkey</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			 </div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1564760055775-d63b17a55c44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Elephant</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1451303688941-9e06d4b1277a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Deer</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1542296935124-75ae8a4e6329?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					<div class="caption">
						<h3 class="text-center txt"><strong>Cat</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			 </div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1573865526739-10659fec78a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					<div class="caption">
						<h3 class="text-center txt"><strong>Cat</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			 </div>
		</div>

		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1560743641-3914f2c45636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Dog</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1530281700549-e82e7bf110d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Dog</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1548681528-6a5c45b66b42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					 <div class="caption">
						<h3 class="text-center txt"><strong>Cat</strong></h3>
						<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
					</div>
				</div>
			</div>
		</div>	
		</div>
	</div>



<%- include("partials/footer") %>