<%- include("partials/header") %>



<div class="container">
	<div class="jumbotron text-center jumbo"><h1>Architecture Images</h1></div>
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590278458425-6aa3912a48a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590952177934-c90e40fb5f95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590918477378-0ba22c41fe2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1585592377048-a627ec452b7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1523885140068-cafbdc242af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590667921987-b8d203ac17ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590681460497-500cb5a9bef7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590664095641-7fa05f689813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590695386018-0caab54e3417?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
	</div>
	
	<div class="row">	
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590692857663-65476910fcb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590695386018-0caab54e3417?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1506849041215-e76092bdaa7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
	</div>
		
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1474739331020-a715a6719403?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1574283558199-a5b1fb23c654?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1564106254-421ab69f98f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
	</div>	
		
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1558449070-94074b948bd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590569611836-6f8a5297b3c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590342322150-8c09849363bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
	</div>
	
	<div class="row">	
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590316815335-a96016f3e6ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590261697089-ebf5223862a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590342409934-e7d9fd99e881?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
	</div>
		
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590329192540-c6a32f5c5ebb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590345966788-2c53f29ab747?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590329192759-860bc3e10474?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590261697302-507f1be951c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1546487766-08a5af29c188?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1541943112909-9327307c92d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1492704767893-26b78f4a3fa5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
				<img src="https://images.unsplash.com/photo-1580047144597-ef4008dbf0e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590667277267-6231c1278654?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>		
	</div>
</div>



<%- include("partials/footer") %>