<%- include("partials/header") %>



<div class="container">
	<div class="jumbotron text-center jumbo"><h1>Art & Culture Images</h1></div>
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1460134846237-51c777df6111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1529869980459-ccdf511edf32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1584125707682-7eeb180f00f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
		
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1575741196803-e1b8ad3ee4ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1549571164-88ff6cff43ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1547636546-42e54cb26e47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1422246358533-95dcd3d48961?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1446102892025-3900145fd2a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1460134846237-51c777df6111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
		
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590951839233-13f421cc4dfb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590229675207-bd4d570ad0f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1474904200416-6b2b7926f26f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1456456496250-d5e7c0a9b44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1444069788560-6ae1deb4c0d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1514726747853-42d4da9b5528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590675523397-025cc3019ce6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590599306904-773f3d03fddf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590622974113-66a9160acf20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590615370581-265ae19a053b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1520013817300-1f4c1cb245ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590412732788-d54badbebb53?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1564104685-2ea6fd69d455?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1516867416262-186ad1339387?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590494065184-f00344f72a87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1548847923-f040a5441de6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1589988056073-12825ac756cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1589051079002-b140a970f568?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1526651115590-99e08495fb1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590278458425-6aa3912a48a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590314760437-474671af4bec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>		
	</div>
</div>



<%- include("partials/footer") %>