<%- include("partials/header") %>



<div class="container">
	<div class="jumbotron text-center jumbo"><h1>Covid-19</h1></div>
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1591076136757-32c08005ca0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1591104198686-f5ca8112f7f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1591071017093-e0354381b9dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
		
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590998059126-835260504b90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1591010430911-01b7352098bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590998059151-2217b31426ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590402494727-0375eeaacf68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590525811224-742a10def6e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590922170723-985d59953ed5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
		
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590925493521-2ac0cd6db487?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590954295311-1ada83082582?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590953500131-c7b31a6cf662?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590953798185-d009f4a1f127?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590986201369-fb29493d09da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590956004525-032d9d756e04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590929496298-acc92cb7ccf3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590935217281-8f102120d683?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590925493668-ff7588d9935d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590831984751-8346529c59f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590773782794-b66cc29e2a29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590768472103-2fef29a6ece8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590743069227-2b2e68d466bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590694709385-125b83bff9de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590692174771-f16e66b38a6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590595978583-3967cf17d2ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590656658708-d3dcd5564753?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590615368995-77191aa9e571?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590615370223-f47e8ab06d06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590615370581-265ae19a053b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590494681019-5997231c6eaa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>		
	</div>
</div>



<%- include("partials/footer") %>