<%- include("partials/header") %>



<div class="container">
	<div class="jumbotron text-center jumbo"><h1>Nature Images</h1></div>
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590797309942-0f4540046562?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1587889087972-8b1709658695?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590879933004-de3284f7b568?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
		
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590893464443-5872216c1398?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1589682642146-26ac8262b3c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=600">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590943873908-03d0dbd6c04e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1589294784352-22a68324e7dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590457559181-7485fde09a78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590398096448-33fb795f7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
		
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590664216212-62e763768cae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590674831541-9f603d6e4f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590671894244-fb8d8ec170ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1587493776101-098fa8b9c36c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1480429186140-9a4af08f827c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590622985149-015ef464b24c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590510325281-54a9164cf0f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590615216008-8921f03835d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590613647462-83c69827e76c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590605417242-c345d9365941?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590614925542-ac505dd304b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1589989981077-cff0cae08f3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590598857192-3f6db8279868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590698763144-af7fa49b14c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590594841715-70fe3b7c51ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590594839953-b2e2eceea95f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590681237167-2caf23a17e34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590586975480-f4e128909f1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590386431526-d2b44df618b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590431781579-a93b90ac2bd0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1586582370416-871b45abd9e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>		
	</div>
</div>



<%- include("partials/footer") %>