<%- include("partials/header") %>



<div class="container">
	<div class="jumbotron text-center jumbo"><h1>Technology</h1></div>
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590658341922-15b2de4f4014?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590901846539-999905494d45?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1572399550691-e1411f5da17a?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
		
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1589831313792-01cad3ff41cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1588609460031-22705bc49db0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/flagged/photo-1563192395-7412e5fe58a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590513445309-502c810e463e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1590454973420-ec89dc9ad192?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/flagged/photo-1563192114-10457fe93b23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
		
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1589176419998-17edf28bbf3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1589176420066-95f4b8b30675?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1588617312537-5df90cc4acd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1589113050289-1c654e7e305d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1588689115724-a624efec3c93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1588590560438-5e27fe3f6b71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1587957134409-e65b9fbb63c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1588213543987-aa114d67980c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1588213855193-2adeb19d7eb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1588359886706-cbbd20ff2b29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1588325935601-9352032828e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1587845323226-bad89242c735?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1542549237432-a176cb9d5e5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1537705271651-cc4fddb8b8d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1589046651512-b38c12f39606?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1587726763541-d8e58f4fb2fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1525338078858-d762b5e32f2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1580706483913-b6ea7db483a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1480369124447-b5077054e570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
	    	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1474945039698-141672b0b403?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	     		 <div class="caption">
	        		<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	      		</div>
 		 	</div>
	  	</div>
		
		<div class="col-lg-4 mb-4">
	    	<div class="thumbnail">
	      		<img src="https://images.unsplash.com/photo-1473968512647-3e447244af8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
	      		<div class="caption">
	       		 	<p><a href="#" class="btn btn-success btn-sm" role="button">Download</a> <a href="#" class="btn btn-danger btn-sm" 	role="button"><i class="far fa-heart"></i></a></p>
	     		</div>
	   		</div>
	 	 </div>
	</div>		
	</div>
</div>



<%- include("partials/footer") %>